/* reset default browser style */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/* all element */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* ■■■■­■■­■■­■■­■■ root variables  ■■■■­■■­■■­■■­■■ */

:root{
    --main-bg-color: rgb(224, 187, 228);
    --border-color: rgba(155, 88, 218, 0.907);
    --border-hover-color: rgb(237, 236, 238);
    --font-color: rgb(81, 80, 80);
    --font-hover-color: rgb(237, 236, 238);
    --shadow-color: rgb(130, 21, 158);
    
    --font-main: 'Jost';
}

/* ■■■■­■■­■■­■■­■■ animations  ■■■■­■■­■■­■■­■■ */

/* move element on X axis to the right*/
@keyframes TranslateX {
    0%{
        transform: translateX(2.5px);
    }
    15%{
        transform: translateX(5px);
    }
    30%{
        transform: translateX(7.5px);
    }
    45%{
        transform: translateX(10px);
    }
    70%{
        transform: translateX(12.5px);
    }
    85%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* move element on X axis to the right*/
@keyframes TranslateY {
    0%{
        transform: translateY(2.5px);
    }
    15%{
        transform: translateY(5px);
    }
    30%{
        transform: translateY(7.5px);
    }
    45%{
        transform: translateY(10px);
    }
    70%{
        transform: translateY(12.5px);
    }
    85%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* rotate element on X axis to the right*/
@keyframes RotateX {
    0%{
        transform:rotateX(15deg);
    }
    15%{
        transform: rotateX(70deg);
    }
    30%{
        transform: rotateX(125deg);
    }
    45%{
        transform: rotateX(180deg);
    }
    70%{
        transform: rotateX(245deg);
    }
    85%{
        transform: rotateX(300deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

/* rotate element on X axis to the right*/
@keyframes RotateY {
    0%{
        transform:rotateY(15deg);
    }
    15%{
        transform: rotateY(70deg);
    }
    30%{
        transform: rotateY(125deg);
    }
    45%{
        transform: rotateY(180deg);
    }
    70%{
        transform: rotateY(245deg);
    }
    85%{
        transform: rotateY(300deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/* rotate element on X axis to the right*/
@keyframes coinAnimation {
    0% {
        transform: translateY(50px) scale(5%) rotateX(15deg);
    }
    3.75% {
        transform: translateY(46.25px) scale(7.5%) rotateX(28.75deg);
    }
    7.5% {
        transform: translateY(42.5px) scale(10%) rotateX(42.5deg);
    }
    11.25% {
        transform: translateY(38.75px) scale(12.5%) rotateX(56.25deg);
    }
    15% {
        transform: translateY(35px) scale(20%) rotateX(70deg);
    }
    18.75% {
        transform: translateY(33.75px) scale(22.5%) rotateX(85.75deg);
    }
    22.5% {
        transform: translateY(32.5px) scale(27.5%) rotateX(97.5deg);
    }
    26.25% {
        transform: translateY(31.25px) scale(30%) rotateX(111.25deg);
    }
    30% {
        transform: translateY(30px) scale(35%) rotateX(125deg);
    }
    33.75% {
        transform: translateY(28.75px) scale(37.5%) rotateX(138.75deg);
    }
    37.5% {
        transform: translateY(27.5px) scale(42.5%) rotateX(152.5deg);
    }
    41.25% {
        transform: translateY(26.25px) scale(45%) rotateX(166.25deg);
    }
    45% {
        transform: translateY(25px) scale(50%) rotateX(180deg);
    }
    48.75% {
        transform: translateY(23.75px) scale(52.5%) rotateX(193.75deg);
    }
    52.5% {
        transform: translateY(22.5px) scale(60%) rotateX(212.5deg);
    }
    56.25% {
        transform: translateY(21.25px) scale(62.5%) rotateX(226.25deg);
    }
    60% {
        transform: translateY(20px) scale(70%) rotateX(245deg);
    }
    63.75% {
        transform: translateY(18.75px) scale(72.5%) rotateX(258.75deg);
    }
    67.5% {
        transform: translateY(17.5px) scale(77.5%) rotateX(272.5deg);
    }
    71.25% {
        transform: translateY(16.25px) scale(80%) rotateX(286.25deg);
    }
    75% {
        transform: translateY(15px) scale(85%) rotateX(300deg);
    }
    78.75% {
        transform: translateY(13.75px) scale(87.5%) rotateX(313.75deg);
    }
    82.5% {
        transform: translateY(12.5px) scale(92.5%) rotateX(327.5deg);
    }
    86.25% {
        transform: translateY(11.25px) scale(95%) rotateX(341.25deg);
    }
    90% {
        transform: translateY(10px) scale(100%) rotateX(360deg);
    }
    93.75% {
        transform: translateY(8.75px) scale(102.5%) rotateX(373.75deg);
    }
    97.5% {
        transform: translateY(7.5px) scale(107.5%) rotateX(387.5deg);
    }
    100% {
        transform: translateY(0px) scale(110%) rotateX(405deg);
    }
}



/* ■■■■­■■­■■­■■­■■ Elements ■■■■­■■­■■­■■­■■ */

body{
    width: 100%;
    height: 100%;
}

/* ■■■■­■■­■■­■■­■■ Header ■■■■­■■­■■­■■­■■ */

.nav{
    width: 100%;
    height: auto;

    position:fixed;
    top: 0;
    right: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* glass like effect */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-style: solid;
    border-bottom-width: 2px;
    border-color: var(--border-color);

    padding: 20px 10%;
}

.logo{
    max-width: 150px;
    height: auto;

    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    border-radius: 50%;
    
    animation-name: coinAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;

    transition: all .4s ease;
}

.logo:hover{
    transform: scale(1.1);
    border-color: var(--border-hover-color);
    box-shadow: 2px 2px 5px var(--shadow-color);
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;

    margin: 0px 10%;
}

.nav-menu a{
    color: var(--font-color);
    font-size: 2rem;
    font-family: 'Jost', 'sans-serif';
    font-weight: 300;
    padding: 10px 20px;
    transition: all .4s ease;
}

.nav-menu a:hover{
    color: var(--font-hover-color);
    font-size: 2rem;
    font-family: 'Jost', 'sans-serif';
    font-weight: 300;
    padding: 10px 20px;

    text-shadow: 2px 2px 5px var(--shadow-color), 20px 20px 2px rgb(79, 79, 80);
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.nav-icon{
    width: 100%;
    height: auto;

    color: var(--font-color);
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 1.5rem;

    transition: all .4s ease;
}

.nav-icon:hover{
    color: var(--font-hover-color);
    text-shadow: 2px 2px 5px var(--shadow-color);

    transform: scale(1.25);
}

/* ■■■■­■■­■■­■■­■■­ Main ■■­■■­■■­■■­■■­■■­ ­*/

.main{
    width: 100%;
    height: auto;

    background-color: var(--main-bg-color);
}

/* Billboard */

#billboard{
    width: 100%;
    height: 100%;
}

/* Articles of billboard */

.billboard-ad{
    width: 100%;
    height: 100vh;

    padding: 5% 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;

    padding: 5px 0px;

    background-image: url("../resources/img/winter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(90%); 
}

.ad-content{
    max-width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;

    border-radius: 0px 10px 10px 0px;

    padding: 0% 2% 0% 10%;

    /* glass like effect */
    background: rgba(255, 255, 255, 0.405);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.ad-title{
    font-family: var(--font-main, "sans-serif");
    font-weight: 700;
    font-size: 5rem;

    margin: 1rem 0rem;
}

.ad-tag{
    font-family: var(--font-main, "sans-serif");
    font-weight: 500;
    font-size: 1.25rem;
    color: red;

    margin: 0rem 0.5rem;
}

.ad-description{
    font-family: var(--font-main, "sans-serif");
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--font-color);

    margin-bottom: 1.25rem;
}

.ad-btn{
    font-family: var(--font-main, "sans-serif");
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--font-color);

    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 0.75rem 1.25rem;

    /* glass like effect */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    transition: all .2s ease;
}

.ad-btn i{
    vertical-align: middle;
    transition: all .4s ease;
}

.ad-btn:hover i{
    animation-name: TranslateX;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    
}

.ad-btn:hover{
    color: var(--font-hover-color);
    background-color: var(--border-color);
}

/* Downwards arrow to next section */

.down-arrow{
    position: absolute;
    top:85%;
    right: 10%;
}

.down-arrow a i{
    font-size: 2.5rem;
    color:var(--font-color);

    border: 2px solid var(--border-color);
    border-radius: 50px;
    padding: 1rem;

    
    /* glass like effect */
    background: rgba(255, 255, 255, 0.622);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: all 0.5s ease;
}

.down-arrow a i:hover{
    color: var(--font-hover-color);
    background-color: var(--border-color);

    animation-name: TranslateY;
    animation-duration: 1.45s;
    animation-iteration-count: infinite;
}

/* Trending products section */




